<% unless notice.nil? %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @paper.title %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @paper.venue %>
</p>

<p>
  <strong>Year:</strong>
  <%= @paper.year %>
</p>

<p>
  <strong>Authors:</strong>
  <ul>
    <% @paper.authors.each do |author| %>
      <li><%= author.name %></li>
    <% end %>
  </ul>
</p>

<hr class="my-4" />

<%= link_to 'Back', papers_path, class: 'btn btn-light' %>
<%= link_to 'Edit', edit_paper_path(@paper), class: 'btn btn-warning' %>
